<!-- Page Header -->
<header *ngIf="article!=undefined">
  <div id="post-header" class="page-header">
    <div class="background-img" [ngStyle]="{'background-image':'url('+image+')'}"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="post-meta">
            <a class="post-category cat-4" [routerLink]="['/category',article.category.id]" routerLinkActive="router-link-active">{{article.category.name}}</a>
            <span class="post-date">{{article.dateCreated|date}}</span>
          </div>
          <h1>{{article.title}}</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
</header>
<!-- /Header -->

<!-- section -->
<div *ngIf="article != undefined" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <app-sidebar></app-sidebar>
      <!-- Post content -->
      <div class="col-md-8">
        <div class="section-row sticky-container">
          <div class="post-shares sticky-shares">
            <a (click)="openWindow('https://www.facebook.com/sharer/sharer.php?u='+url)" class="share-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a (click)="openWindow('https://twitter.com/home?status='+url)" class="share-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a (click)="openWindow('https://plus.google.com/share?'+url)" class="share-google-plus">
              <i class="fa fa-google-plus"></i>
            </a>
            <a (click)="openWindow('https://www.linkedin.com/shareArticle?mini=true&url='+url)" class="share-linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
          <div class="main-post">
            <p dir="rtl" style="font-size: 20px">
            {{article.content}}
            </p>
          </div>
        </div>

        <!-- author -->
        <div class="section-row">
          <div class="post-author">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="{{article.user.imageUrl}}" alt="">
              </div>
              <div class="media-body">
                <div class="media-heading">
                  <h3>{{article.user.firstName}} {{article.user.lastName}}</h3>
                </div>
                <p>
                  {{article.user.description}}
                </p>
                <ul class="author-social">
                  <li *ngIf="article.user.facebookAccount != null">
                    <a href="{{article.user.facebookAccount}}" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li *ngIf="article.user.twitterAccount != null">
                    <a href="{{article.user.twitterAccount}}" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li *ngIf="article.user.linkedinAccount != null">
                    <a href="{{article.user.linkedinAccount}}" target="_blank">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /author -->

        <!-- comments -->
        <div *ngIf="false" class="section-row">
          <div class="section-title">
            <h2>3 Comments</h2>
          </div>

          <div class="post-comments">
            <!-- comment -->
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="./img/avatar.png" alt="">
              </div>
              <div class="media-body">
                <div class="media-heading">
                  <h4>John Doe</h4>
                  <span class="time">March 27, 2018 at 8:00 am</span>
                  <a href="#" class="reply">Reply</a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.</p>

                <!-- comment -->
                <div class="media">
                  <div class="media-left">
                    <img class="media-object" src="./img/avatar.png" alt="">
                  </div>
                  <div class="media-body">
                    <div class="media-heading">
                      <h4>John Doe</h4>
                      <span class="time">March 27, 2018 at 8:00 am</span>
                      <a href="#" class="reply">Reply</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat.</p>
                  </div>
                </div>
                <!-- /comment -->
              </div>
            </div>
            <!-- /comment -->

            <!-- comment -->
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="./img/avatar.png" alt="">
              </div>
              <div class="media-body">
                <div class="media-heading">
                  <h4>John Doe</h4>
                  <span class="time">March 27, 2018 at 8:00 am</span>
                  <a href="#" class="reply">Reply</a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.</p>
              </div>
            </div>
            <!-- /comment -->
          </div>
        </div>
        <!-- /comments -->

        <!-- reply -->
        <div *ngIf="false" class="section-row">
          <div class="section-title">
            <h2>Leave a reply</h2>
            <p>your email address will not be published. required fields are marked *</p>
          </div>
          <form class="post-reply">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <span>Name *</span>
                  <input class="input" type="text" name="name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span>Email *</span>
                  <input class="input" type="email" name="email">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span>Website</span>
                  <input class="input" type="text" name="website">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="input" name="message" placeholder="Message"></textarea>
                </div>
                <button class="primary-button">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /reply -->
      </div>
      <!-- /Post content -->
